.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader_title {
    margin: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    text-align: center;
}
